doctype html
html(lang="en")
  head
    title=componentName
    link(href='/component/' + uri + '.css', rel='stylesheet')

    script(type='text/javascript' src='/lib/angular/angular.js').
    script(type='text/javascript' src='/component/' + uri + '.js').
    script(type='text/javascript' src='/component/' + uri + '.fixtures.js').
  body(ng-app='demo')
    h1 #{componentName}
    !{demo}