doctype html
html(lang="en")
  head
    title=componentName
    link(href='/lib/Plinth/dist/plinth.css' rel='stylesheet')
    link(href='/component/' + uri + '.css' rel='stylesheet')

    script(type='text/javascript' src='/lib/angular/angular.js').
    script(type='text/javascript' src='/component/' + uri + '.js').
    script(type='text/javascript' src='/component/' + uri + '.fixtures.js').
  body(ng-app='demo' class="main-content")
    h1 #{componentName}
    !{demo}