- var user = { name: 'John' }

doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Component Demo Index

    div
      each mainSectionKey in Object.keys(structure)
        div= mainSectionKey
        each subSectionKey in Object.keys(structure[mainSectionKey])
          div= subSectionKey
          div= structure[mainSectionKey][subSectionKey]
